.git
.github
.vscode
.venv*
.engine-bin
__pycache__
*.pyc
.env
cookies.txt
cache
input
output
library
playlists
tests
docs
run
runpdf
runyoutube
runhelp
summarizer
*.pdf
*.srt
*.vtt
*.txt
!requirements.txt
